<template>
  <div class="login">
    <div class="login-form-wrap">
      <h3 class="login-form-title">欢迎登陆</h3>
      <div class="login-form">
        <el-form :model="form" class="demo-form-inline" size="small" :rules="rules">
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="form.password" type="password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import loginr from "../http/api.js";
export default {
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      rules: {
        username: [{ required: true, message: "请输入用户名", trigger: "blur" }],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    //   login(){
    //      http.http('login','post',this.form).then(res=>{
    //           console.log(res)
    //       })
    //   }

    //   login(){
    //       login(this.form).then(res=>{
    //         console.log(res)
    //     })
    //   }

    async login() {
      const { token, username } = await loginr(this.form);
      
      this.$store.commit("setToken", token);
      this.$store.commit("setUsername", username);
      this.$router.replace({
        name: "index"
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
}
.login-form-wrap {
  width: 300px;
  background: #fff;
  margin-left: 160px;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  .login-form-title {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    font-weight:700;
  }
}
.login-form {
    padding:15px;
  .login-form-btn {
    width: 100%;
  }
}
</style>